html body {
    background: white;

    transition: ease 2s background;
    padding: 0;
    margin: 0;
}

#main-wrapper {
    /* padding-top: 140px; */
    /* opacity: 1; */
    /* transition: ease 2s opacity; */
    position: relative;
}

.page {
    box-sizing: border-box;
    width: 100vw;
    /* scroll-snap-align: start; */
}

#page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 6px;
    text-align: center;
}

#page1 div {
    display: flexbox;
    color: white;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

#page1 h1 {
    font-size: 12vw;
    font-family: "Lato ExtraBold"
}

#page1 h3 {
    font-size: 2.5vw;
    font-family: "lato bold";
}

#page2 {
    font-family: "pt sans reg";
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    background: linear-gradient(-175deg, #3ed2ff, #7244df);
    background-attachment: fixed;

}

#page2 h1 {
    /* color: rgb(0, 21, 48); */
    color: rgb(0, 15, 36);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-family: "Lato ExtraBold";
    font-size: 70px;
    text-align: right;
}

#left-section h1 {
    /* font-size: 80px; */
    text-align: left;
}

#page2 .section {
    padding: 7.5% 7.5%;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.699);
}

#left-section {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: solid 8px rgb(255, 255, 255);
    border-right: solid 8px rgb(255, 255, 255);
    border-bottom: solid 8px rgb(255, 255, 255);
    border-left: transparent;
    height: 100%;
    /* background-image: url("../images/bg-8.jpg"); */
}

#right-section {
    /* background-image: url("../images/bg-7.jpg"); */
    border-top: solid 8px rgb(255, 255, 255);
    border-left: solid 8px rgb(255, 255, 255);
    border-bottom: solid 8px rgb(255, 255, 255);
    border-right: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#page3 .heading {
    color: white;
    background-color: rgb(0, 15, 37);
    /* color: black; */
    text-align: center;
    width: 100%;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-family: "Lato ExtraBold";
    font-size: 4vw;
}

#ceye-past-carousel {
    max-height: 80vh;
    font-family: "Lato Extrabold";
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  }


.carousel-item {
    align-items: center;
    width: 1200px;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

#img1 {
    max-width: 100%;
    max-height: 600px;
    background-image: url('../images/c-eye-past-winners/March_Felicity_2020.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*  max-width: 100%;
    border: 1px solid red;
    max-width: 1200px;
    max-height: 60%;
    height: auto;
    align-content: center;
    /*width: 100%;
    height: 100%;
    /*background-image: url('../images/c-eye-past-winners/june.jpeg');*/
}

#img2 {
    max-width: 100%;
    max-height: 600px;
    background-image: url('../images/c-eye-past-winners/April_Ranges_and_Ganges.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*  max-width: 100%;
    border: 1px solid red;
    max-width: 1200px;
    max-height: 60%;
    height: auto;
    align-content: center;  */
}

#img3 {
    max-width: 100%;
    max-height: 600px;
    background-image: url('../images/c-eye-past-winners/May_Visitor.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*  max-width: 100%;
    border: 1px solid red;
    max-width: 1200px;
    max-height: 60%;
    height: auto;
    align-content: center;  */
}

#img4 {
    max-width: 100%;
    max-height: 600px;
    background-image: url('../images/c-eye-past-winners/June_Batu_Caves.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*  max-width: 100%;
    border: 1px solid red;
    max-width: 1200px;
    max-height: 60%;
    height: auto;
    align-content: center;  */
}


#page2 .event-card {
    display: table;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 6px;
    min-height: 100px;
    font-size: 0.75rem;
    background-color: rgb(255, 255, 255);
}

#page2 .event-card div {
    display: table-cell;
    vertical-align: middle;
}

#camera-gif-figure {
    position: absolute;
    z-index: -100;
    opacity: 0;
    width: 100vw;
}

#camera-gif {
    position: relative;
    transition: ease 0.5s opacity;
    bottom: 0px;
    width: 30vw;
    max-width: 300px;
}

iframe {
    width: 500px;
}

@media (min-width:1200px) {
    #page2 {
        min-height: 100vh;
    }

    #page2 .section {
        height: 80vh;
    }
}

@media (max-width:1200px) {

    #right-section {
        min-height: 700px;
    }
}

@media (max-width:500px) {
    iframe {
        width: 95%;
    }
}
/*
@media (max-width:600px) {
    #page1 h1 {
        font-size: 50px;
    }
    #page1 h3 {
        font-size: 20px;
    }
} */
