html body {
    background-color: white;
    transition: ease 2s background;
}

#main-wrapper {
    padding-top: 140px;
    opacity: 0;
    transition: ease 2s opacity;
    position: relative;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/lens-490806.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    /* background-repeat: no-repeat; */
    width: 92%;
    min-height: 300px;
    height: 40vh;
    border-radius: 5px;
    text-align: center;
}

#intro div {
    display: flexbox;
    color: white;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

#intro h1 {
    font-size: 100px;
    font-family: "Lato ExtraBold"
}

#camera-gif-figure {
    position: absolute;
    z-index: -100;
    opacity: 0;
    width: 100%;
    /* height: 300px; */
}

#camera-gif {
    position: relative;
    transition: ease 0.5s opacity;
    bottom: 0px;
    width: 30vw;
    max-width: 300px;
}
