.navbar {
    /* background-color: rgba(0, 0, 0, .7); */
    background-color: rgba(255, 255, 255, 0.95);
    transition-duration: .5s;
    border-radius: 6px;
    min-height: 90px;
}

.navbar-brand {
    /* background-color: white; */
    max-width: 78%;
}

.navbar-brand span {
    font-size: 40px;
}

.navbar-toggler {
    max-width: 20%;
}

.nav-item {
    font-family: 'pt sans reg';
    /* font-size: 1.2rem; */
    font-size: 19px
}

.nav-link {
    border-bottom: 1px solid rgb(245, 245, 245);
}

.nav-link:hover {
    border-bottom-color: #5eecff;
    transition: border-bottom-color linear .5s
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.slide-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
  overflow: hidden;
  text-align: center;
}

.image-container {
  width: 3200px;
  height: 600px;
  position: relative;
  -webkit-transition: left 2s ease-in-out;
  -moz-transition: left 2s ease-in-out;
  -ms-transition: left 2s ease-in-out;
  -o-transition: left 2s ease-in-out;
  transition: left 2s ease-in-out;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
}

.button-container {
  top: -20px;
  position: relative;
}

.slider-button {
  display: inline-inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: white;
}

/*--TARGET SELECTOR--*/

#slider-image-Ranges_and_Ganges:target ~ .image-container{
  left: 0px;
}

#slider-image-Felicity_2020:target ~ .image-container{
  left: -800px;
}

#slider-image-Batu_Caves:target ~ .image-container{
  left: -1600px;
}

#slider-image-Visitor:target ~ .image-container{
  left: -2400px;
}

/*--FONTS--*/

@font-face {
    font-family: "pt sans reg";
    src: url("../fonts/PT_Sans/PT_Sans-Web-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato ExtraBold";
    src: url("../fonts/Lato/Lato-Black.ttf");
}
